<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
        <mapEntry key="FORGE_VERSION" value="36.1.0"/>
        <mapEntry key="MCP_MAPPINGS" value="official_1.16.5"/>
        <mapEntry key="MCP_VERSION" value="20210115.111550"/>
        <mapEntry key="MC_VERSION" value="1.16.5"/>
        <mapEntry key="MOD_CLASSES" value="borkler%%/home/kili/linuxpog/Borkler/bin/main:borkler%%/home/kili/linuxpog/Borkler/bin/main"/>
        <mapEntry key="assetDirectory" value="/home/kili/.gradle/caches/forge_gradle/assets"/>
        <mapEntry key="assetIndex" value="1.16"/>
        <mapEntry key="nativesDirectory" value="/home/kili/linuxpog/Borkler/build/natives"/>
        <mapEntry key="target" value="fmluserdevclient"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Borkler"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/kili/linuxpog/Borkler/run"/>
</launchConfiguration>
